sentence-transformers>=3.0.0
langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-pinecone
google-genai
flask
flask-cors
gunicorn
pypdf
python-dotenv
pinecone[grpc]